{% extends './layout.html' %}
{% block title %}
  详情页
{% endblock %} 

{% block css %}
  <link rel="stylesheet" href="css/detail.css">
{% endblock %}

{% block content %}
<div class="panel panel-default custom-panel detail-panel">
  <div class="panel-heading">
    <h3 class="panel-title">
     {{ ArticleData.title }}
    </h3>
    <p class="sub-title">
      <span class="text-muted">{{ ArticleData.category.nam }}</span>
      <span class="text-muted">{{ ArticleData.createTime }}</span>
      <span class="text-muted"><em>{{ ArticleData.click }}</em>人已阅读</span>
    </p>
  </div>
  <div class="panel-body">
    <div class="well">
      <strong>简介:</strong>{{ ArticleData.intro }}
    </div>
    <p>
      {{ ArticleData.content | safe }}
    </p>
  </div>
</div>
{% endblock %}
