.detail-panel{
	height: 600px;
}
.detail-panel .panel-title{
	margin-bottom: 10px;
	font-size: 30px;
}
.detail-panel .sub-title span{
	margin-right: 10px;
}
.detail-panel .panel-body{
	background-color: #fff;
}
